USE [master]
GO
/****** Object:  Database [DropboxAnalog]    Script Date: 02.05.2017 15:32:41 ******/
CREATE DATABASE [DropboxAnalog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DropboxAnalog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS2016\MSSQL\DATA\DropboxAnalog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DropboxAnalog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS2016\MSSQL\DATA\DropboxAnalog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DropboxAnalog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DropboxAnalog]
GO
USE [DropboxAnalog]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 02.05.2017 15:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[Text] [nvarchar](4000) NOT NULL,
	[PostTime] [datetimeoffset](7) NOT NULL,
	[SharedId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Files]    Script Date: 02.05.2017 15:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [uniqueidentifier] NOT NULL,
	[Data] [varbinary](max) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[FileType] [nvarchar](55) NULL,
	[Size] [bigint] NULL,
	[CreationTime] [datetimeoffset](7) NOT NULL,
	[LastWriteTime] [datetimeoffset](7) NOT NULL,
	[LastAccessTime] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shared]    Script Date: 02.05.2017 15:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shared](
	[UserId] [int] NOT NULL,
	[FileId] [uniqueidentifier] NOT NULL,
	[IsUserOwner] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsReadonly] [bit] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.05.2017 15:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NULL,
	[SecondName] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[AddDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_SharedId_Comments]    Script Date: 02.05.2017 15:32:41 ******/
CREATE NONCLUSTERED INDEX [IX_SharedId_Comments] ON [dbo].[Comments]
(
	[SharedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shared1]    Script Date: 02.05.2017 15:32:41 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Shared1] ON [dbo].[Shared]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (sysdatetime()) FOR [PostTime]
GO
ALTER TABLE [dbo].[Shared] ADD  DEFAULT ((1)) FOR [IsUserOwner]
GO
ALTER TABLE [dbo].[Shared] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Shared] ADD  DEFAULT ((0)) FOR [IsReadonly]
GO
ALTER TABLE [dbo].[Shared] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [AddDate]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([SharedId])
REFERENCES [dbo].[Shared] ([Id])
GO
ALTER TABLE [dbo].[Shared]  WITH CHECK ADD  CONSTRAINT [FK__Shared__FileId__2D27B809] FOREIGN KEY([FileId])
REFERENCES [dbo].[Files] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shared] CHECK CONSTRAINT [FK__Shared__FileId__2D27B809]
GO
ALTER TABLE [dbo].[Shared]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
USE [master]
GO
